---
// @ts-ignore
import { getSlideContent } from '../data/slideContent.js'
import Swiper from 'swiper'
import { Navigation, Pagination } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'

const { lang = 'cs' } = Astro.props
const slidesContent = getSlideContent(lang)
---

<section class="hero-section">
    <div class="swiper">
        <div class="swiper-wrapper">
            {
                slidesContent.map((slide) => (
                    <div class={`swiper-slide ${slide.customClass ? slide.customClass : ''}`}>
                        <div
                            class="background-overlay"
                            data-src-mobile={slide.imageMobile}
                            data-src-desktop={slide.image}
                        />
                        <div class="slide-content container">
                            <h6>{slide.subtitle}</h6>
                            <h2 class="hero-title">{slide.title}</h2>
                            {/* <ul>
                                {slide.features.map((feature) => (
                                    <li>
                                        <span>{feature}</span>
                                    </li>
                                ))}
                            </ul> */}
                            <a href={slide.buttonLink} class="btn">
                                {slide.buttonText}
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<script>
    const setBackgroundImages = () => {
        const isMobile = window.innerWidth < 768
        const slides = document.querySelectorAll('.swiper-slide .background-overlay')
        slides.forEach((slide) => {
            const img = slide as HTMLElement
            const src = isMobile ? img.dataset.srcMobile : img.dataset.srcDesktop
            img.style.backgroundImage = `url(${src})`
        })
    }

    const lazyLoadImages = () => {
        const slides = document.querySelectorAll('.swiper-slide .background-overlay')
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const img = entry.target as HTMLElement
                    setBackgroundImages() // Call this instead of directly setting the background
                    observer.unobserve(img)
                }
            })
        })

        slides.forEach((slide) => {
            observer.observe(slide)
        })
    }

    setBackgroundImages() // Initial call
    lazyLoadImages()

    document.addEventListener('DOMContentLoaded', () => {
        setBackgroundImages()
        lazyLoadImages()
    })

    document.addEventListener('astro:after-swap', () => {
        setBackgroundImages()
        lazyLoadImages()
    })

    // Add resize listener to handle orientation changes
    window.addEventListener('resize', setBackgroundImages)
</script>

<style lang="scss">
    .slide-content--klimatizace {
        .background-overlay {
            background-size: cover;
            background-repeat: no-repeat;
            transform: scaleX(-1);
        }
    }
    .slide-content--klempir {
        .background-overlay {
            background-position: center -188rem;
        }
    }
    .slide-content--deformace {
        .background-overlay {
            @media (min-width: 1024px) {
                background-position: center -87px !important;
            }
        }
    }
    .slide-content--ochrane-nastriky {
        .background-overlay {
            @media (min-width: 1024px) {
                background-position: center -34rem !important;
            }
        }
    }
    .hero-section {
        .swiper-pagination {
            bottom: 8.5rem;
            @media (max-width: 1199px) {
                bottom: 3rem;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            @media (max-width: 140rem) {
                display: none;
            }
        }
        .swiper-slide {
            height: 71.5rem;
            padding-top: 6em;
            padding-bottom: 14rem;

            @media (max-width: 1199px) {
                padding-bottom: 8rem;
            }

            @media (max-width: 767px) {
                height: 50rem;
            }

            @media (max-width: 479px) {
                padding-top: 3em;
            }

            .background-overlay {
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 2;
                opacity: 0.5;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center -20rem;

                @media (max-width: 2600px) and (min-width: 2000px) {
                    background-position: center center !important;
                }

                @media (max-width: 140rem) {
                    background-position: center center;
                }
                @media (max-width: 767px) {
                    opacity: 0.38;
                }
            }
            .slide-content {
                z-index: 3;
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h6 {
                    font-size: $fs-400;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    color: $clr-primary;
                    margin-bottom: 1.5rem;

                    @media (max-width: 479px) {
                        font-size: 1.4rem;
                    }
                }
                h2.hero-title {
                    font-size: 4rem;
                    max-width: 50rem;
                    line-height: 1.2;
                    margin-bottom: 2.4rem;

                    @media (max-width: 479px) {
                        font-size: 3rem;
                    }
                }
                ul {
                    margin-bottom: 1.9rem;
                    max-width: 45rem;
                    li {
                        font-weight: 500;
                        display: flex;
                        margin-bottom: 0.5rem;

                        @media (max-width: 479px) {
                            font-weight: 400;
                        }
                        &:before {
                            content: '\eaaf';
                            font-family: $ff-icons;
                            font-size: 1.4rem;
                            color: $clr-primary;
                            margin-right: 1rem;
                        }
                    }
                }
                .btn {
                    font-size: 1.4rem;
                }
            }
        }
    }
</style>
