---
import Layout from '../layouts/Layout.astro'
import PageHeader from './PageHeader.astro'
import { localizePath, localizeUrl } from 'astro-i18next'
import i18next, { t } from 'i18next'

const { frontmatter, Content } = Astro.props
---

<PageHeader
    pageName={frontmatter.title}
    imageSrc={frontmatter.headerImage}
    customClass={frontmatter.customClass}
/>

<main class={`service-detail ${frontmatter.customClass}`}>
    <div class="container">
        <div class="service-content">
            <div class="service-content-inner markdown-content">
                <Content />
            </div>
            {
                frontmatter.uspItems && frontmatter.uspItems.length > 0 && (
                    <div class="service-usp">
                        <ul>
                            {frontmatter.uspItems.map((item) => (
                                <li>
                                    <span class="checkmark" />
                                    <span class="text" set:html={item.text} />
                                </li>
                            ))}
                        </ul>
                    </div>
                )
            }
        </div>
        <div class="contact-banner">
            <div class="contact-banner-inner">
                <h2>{t('contact.title')}</h2>
                <p>{t('contact.description')}</p>
                <a class="btn btn-primary" href={localizePath('/kontakt')} target="_blank" class="button"
                    >{t('contact.button')}</a
                >
            </div>
        </div>
    </div>

    <script>
        function activateServicesLink() {
            const servicesLink = document.getElementById('services-link')
            const serviceDetailElement = document.querySelector('.service-detail')
            if (servicesLink && serviceDetailElement) {
                servicesLink.classList.add('active-page')
            }
        }

        activateServicesLink()

        document.addEventListener('astro:page-load', activateServicesLink)
    </script>

    <style lang="scss">
        .service-detail {
            padding-top: 7rem;

            @media (max-width: 767px) {
                padding-top: 2rem;
            }
        }

        .service-content {
            .service-content-inner.markdown-content {
                padding: 2rem;
                background-color: #1d2226;

                :global(h1) {
                    color: $clr-primary !important;
                    margin-bottom: 1.9rem !important;
                    font-size: 2.1rem;
                }

                :global(p) {
                    margin-bottom: 19px !important;
                }

                :global(.color-primary) {
                    // font-family: $ff-heading;
                    // color: $clr-primary;
                    font-weight: 700;
                }
                :global(li span) {
                    font-weight: 700;
                }
                :global(li:before) {
                    content: '';

                    display: inline-block;
                    width: 0.8rem;
                    height: 0.8rem;
                    background-color: $clr-primary;
                    border-radius: 50%;
                    margin-right: 1rem;
                }
            }
        }
        .container {
            display: flex;
            gap: 4rem;

            @media (max-width: 991px) {
                flex-direction: column;
            }
        }
        .service-content {
            flex: 2;
        }
        .contact-banner {
            flex: 1;

            .contact-banner-inner {
                padding: 4.8rem;
                background-image: url('/images/kontakt.webp');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4) inset;
                min-height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 1.9rem;
                line-height: 1.2;
            }

            p {
                margin-bottom: 1.9rem !important;
            }
        }
        .service-usp {
            margin-top: 4rem;
            ul {
                list-style-type: none;
                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;

                .text {
                    :global(span) {
                        // color: $clr-primary;
                        font-weight: 700;
                        width: 100%;
                        display: block;
                    }
                }

                @media (max-width: 767px) {
                    grid-template-columns: 1fr;
                    row-gap: 1rem;
                }
            }

            li {
                display: flex;
                align-items: flex-start;
                margin-bottom: 1rem;
            }

            .text {
                width: calc(100% - 30px);
            }

            .checkmark {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-color: $clr-primary;
                border-radius: 50%;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 7px;
                    top: 4px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    </style>
</main>
