---
export interface Props {
    link: string
    imgSrc: string
    title: string
    imgPosition?: string
    customStyleImg?: string
}

const { link, imgSrc, title, imgPosition, customStyleImg } = Astro.props
---

<div class="service-card">
    <div class="image-wrapper">
        <a href={link}>
            <img
                src={imgSrc}
                alt={title}
                class="service-card__image"
                loading="lazy"
                style={imgPosition
                    ? `object-position: center ${imgPosition}rem; ${customStyleImg}`
                    : customStyleImg}
            />
        </a>
    </div>
    <div class="service-card__content">
        <h3 class="service-card__title">
            <a href={link}>{title}</a>
        </h3>
        <a href={link} class="btn service-card__link">Více informací</a>
    </div>
</div>

<style lang="scss">
    .service-card {
        background-color: #1d2226;

        .image-wrapper {
            overflow: hidden;
        }

        &:hover {
            img {
                scale: 1.2;
            }
        }

        a:has(img) {
            height: 200px;
            display: block;
            img {
                transition: 0.3s;
                object-fit: cover;

                @media (max-width: 767px) {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center center !important;
                }
            }

            @media (max-width: 767px) {
                height: 130px;
            }
        }

        &__content {
            padding: 32px;
            text-align: center;
            // min-height: 385px;
            display: flex;
            flex-direction: column;
            height: calc(100% - 200px);

            @media (max-width: 767px) {
                padding: 10px;
                height: calc(100% - 130px);
            }
        }

        &__description {
            margin-bottom: 19px;
            font-size: 16px;
            display: none;
        }

        &__title {
            margin-bottom: 16px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.2px;
            text-align: center;
            font-family: $ff-primary;

            @media (max-width: 767px) {
                font-size: 16px;
            }

            a {
                &:hover {
                    color: $clr-primary;
                }
            }
        }
        &__link {
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            width: 195px;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
</style>
