---
import SiteNav from '../components/Navigation.astro'
import Logo from '../components/Logo.astro'
import { LanguageSelector } from 'astro-i18next/components'
import { t } from 'i18next'
import { localizePath } from 'astro-i18next'
import SocialLinks from '../components/SocialLinks.astro'

const languages = [
    { code: 'cs', name: 'Česky', flag: '/images/icons/cz.svg' },
    { code: 'de', name: 'Deutsch', flag: '/images/icons/de.svg' },
]

const currentPath = Astro.url.pathname
---

<div class="top-navigation-bar">
    <div class="container">
        <ul>
            <li class="location">
                <div class="icon location"></div>
                <a
                    href="https://www.google.com/maps/dir/?api=1&destination=Chodová+Planá+488,+Chodová+Planá+348+13"
                    target="_blank">
                    Chodová Planá 488, Chodová Planá 348 13
                </a>
            </li>
            <li>
                <div class="icon email"></div>
                <a href={`mailto:${t('global.email')}`}>{t('global.email')}</a>
            </li>
            <li class="tel">
                <a href={`tel:${t('header.tel.number')}`}>{t('header.tel.number')}</a>
            </li>
        </ul>
        <SocialLinks />
        <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
    </div>
</div>
<header class="header">
    <div class="container header-wrapper">
        <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
        <!-- <div class="custom-language-selector lang-switcher">
            <button class="language-select-btn">
                <img
                    src={languages.find((lang) => lang.code === Astro.currentLocale)?.flag}
                    alt="Current language flag"
                    class="flag-icon"
                />
                <span>{languages.find((lang) => lang.code === Astro.currentLocale)?.name}</span>
            </button>
            <ul class="language-select-dropdown">
                {
                    languages.map((lang) => (
                        <li>
                            <a
                                href={localizePath(currentPath, lang.code)}
                                class={lang.code === Astro.currentLocale ? 'active' : ''}>
                                <img src={lang.flag} alt={`${lang.name} flag`} class="flag-icon" />
                                {lang.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div> -->
        <div class="header-logo">
            <Logo />
        </div>
        <SiteNav />
        <div class="tel">
            <a href={`tel:${t('header.tel.number')}`}>
                <div class="tel-wrapper">
                    <span class="tel">{t('header.tel.number')}</span>
                    <span class="tel-text">{t('header.tel.cto')}</span>
                </div>
            </a>
        </div>
        <div class="hamburger-menu">
            <span></span>
        </div>
        <div class="mobile-nav">
            <SiteNav />
            <LanguageSelector showFlag={true} languageMapping={{ cs: '', de: '' }} class="lang-switcher" />
        </div>
    </div>
</header>

<!-- <script>
    document.addEventListener('astro:page-load', () => {
        const languageSelector = document.querySelector('.custom-language-selector')
        const selectBtn = languageSelector.querySelector('.language-select-btn')
        const dropdown = languageSelector.querySelector('.language-select-dropdown')

        selectBtn.addEventListener('click', () => {
            dropdown.classList.toggle('show')
        })

        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', (event) => {
            if (!languageSelector.contains(event.target)) {
                dropdown.classList.remove('show')
            }
        })
    })
</script> -->

<style lang="scss">
    .flag-icon {
        width: 20px;
        height: 15px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .custom-language-selector {
        position: relative;
        display: inline-block;

        .language-select-btn {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 5px 10px;
            font-size: inherit;
            color: inherit;
        }

        .language-select-dropdown {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            &.show {
                display: block;
            }

            li {
                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: #f1f1f1;
                    }

                    &.active {
                        background-color: #ddd;
                    }
                }
            }
        }
    }

    .top-navigation-bar {
        background-color: #1d2226;

        .container {
            display: flex;
        }
        // background-color: $clr-secondary;
        .lang-switcher {
            background-color: #1d2226;
            margin-left: 5px;
            margin-top: 4px;
            display: none;
            font-size: 2.5rem;

            @media (max-width: 767px) {
                font-size: 2rem;
            }

            @media (max-width: 1023px) {
                display: block;
            }
        }
        ul {
            display: flex;
            gap: 3rem;
            padding: 1rem 0;
            flex: 1;

            li {
                display: flex;
                align-items: center;

                &.tel {
                    @media (min-width: 1024px) {
                        display: none;
                    }
                }

                @media (max-width: 1023px) {
                    &:not(.tel) {
                        display: none;
                    }
                    &.tel {
                        width: 100% !important;
                    }
                }
            }
        }
        a {
            // color: $clr-black;
        }
    }
    a:not(.logo) {
        font-size: 1.5rem;
    }
    .header-logo {
        width: 25%;
    }
    .header {
        padding: 2rem 0;
        background-color: $clr-black;
        top: -130px;
        transition: 0.3s ease-in-out;

        &.sticky {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;

            @media (max-width: 1023px) {
                position: fixed;
            }
        }

        .lang-switcher {
            position: absolute;
            cursor: pointer;
            right: 1.5rem;
            background-color: $clr-black;
            font-size: 2.8rem;

            @media (max-width: 1023px) {
                display: none;
            }
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 1023px) {
            justify-content: space-between;
            position: static;
        }
    }

    .logo {
        width: 25%;

        @media (max-width: 1199px) {
            font-size: 2.6rem;
        }
    }
    .tel {
        text-align: right;
        width: 20%;

        @media (max-width: 1023px) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            &:before {
                font-family: elementskit !important;
                content: '\e976';
                color: $clr-primary;
                font-size: 1.8rem;
            }

            .tel {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                // &:before {
                //     font-family: elementskit !important;
                //     content: '\e976';
                //     color: $clr-primary;
                //     font-size: 1.8rem;
                // }
            }
            .tel-text {
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }

    $hamburger-menu-size: 4rem;

    .hamburger-menu {
        height: 3.2rem;
        width: $hamburger-menu-size;
        cursor: pointer;

        @media (min-width: 1024px) {
            display: none;
        }

        span {
            z-index: 100;
            background: $clr-primary;
            border-radius: 0.3rem;
            content: '';
            position: absolute;
            width: $hamburger-menu-size;
            height: 0.6rem;
            margin-top: 1.3rem;

            transition: 0.3s ease-in-out;

            @media (max-width: 767px) {
                width: 3.2rem;
                height: 0.4rem;
            }

            &::before,
            &::after {
                background: $clr-primary;
                border-radius: 0.3rem;
                content: '';
                position: absolute;
                width: $hamburger-menu-size;
                height: 0.6rem;
                transition: 0.3s ease-in-out;

                @media (max-width: 767px) {
                    width: 3.2rem;
                    height: 0.4rem;
                }
            }

            &::before {
                margin-top: -1.2rem;

                @media (max-width: 767px) {
                    margin-top: -1rem;
                }
            }

            &::after {
                margin-top: 1.2rem;
                @media (max-width: 767px) {
                    margin-top: 1rem;
                }
            }
        }

        .site-nav {
            display: flex;
        }

        &.active {
            span {
                background: transparent;

                &::before {
                    margin-top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
</style>
